* {
    box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body {
    background-color: RGB(255,197,0);
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

header > img {
    display: block;
    margin: 0 auto;
}

header > form {
    position: absolute;
    left: 85%;
    top: 0;
}

header > nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

        header > nav ul li {
            color: #000;
            background: RGB(255,197,0);
            display: inline;
            float: left;
            text-align: center;
            border: 2px solid #ffffff;
            border-radius: 50%;
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            text-shadow: 2px 2px green;
            transition: 0.4s ease-in-out;
            padding: .5rem 2rem;
        }
        header > nav ul li a {
            text-decoration: none;
        }

            header > nav ul li:hover {
                background: #fff;
                color: #000;
                animation: rotate 3s linear infinite;
            }

                @keyframes rotate {
                    from {
                        transform: rotate(0deg)
                    }
                    to {
                        transform: rotate(360deg)
                    }
                }

img[alt*="logo"]{
    width: 100vw;
    padding: 0 2rem;
}

a {
    transition: all 0.4s ease-in-out;
}

    a:hover{
        color: #fff;
        transition: all 0.4s ease-in-out;
    }

article > header {
    display: flex;
}

main > article > header p + p {
    margin-left: 2em;
}

section > article {
    display: flex;
}

@media screen and (max-width: 960px) {
    body {
        background-color: hotpink;
    }
}

@media screen and (max-width: 480px) {
    body {
        background-color: lightgreen;
    }

    nav ul {
        flex-direction: column;
    }
        nav ul li {
            width: 15em;
        }
}
