body {
    background: linear-gradient(89deg, #ff006e, #00fdff, #00ff0a, #ff9400, #fffa00);
    -webkit-animation: achtergrond_animatie 14s ease infinite;
    -moz-animation: achtergrond_animatie 14s ease infinite;
    -o-animation: achtergrond_animatie 14s ease infinite;
    animation: achtergrond_animatie 14s ease infinite;

    @-webkit-keyframes achtergrond_animatie {
        0%{background-position:0% 50%}
        50%{background-position:100% 51%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes achtergrond_animatie {
        0%{background-position:0% 50%}
        50%{background-position:100% 51%}
        100%{background-position:0% 50%}
    }
    @-o-keyframes achtergrond_animatie {
        0%{background-position:0% 50%}
        50%{background-position:100% 51%}
        100%{background-position:0% 50%}
    }
    @keyframes achtergrond_animatie {
        0%{background-position:0% 50%}
        50%{background-position:100% 51%}
        100%{background-position:0% 50%}
    }

    font-family: Helvetica Neue, Arial, sans-serif;
}

h1 {
    font-size: 13em;
    display: table;
    margin: 0 auto;
    background: linear-gradient(89deg, #fffa00 0%, #ff9400 25%, #00ff0a 50%, #00fdff 75%, #ff006e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
 color: #fff;
}

p:hover {
    animation: rotate 0.5s linear infinite;
    max-width: 5em;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.intro {
    color: #ff0
}

a {
    color: #ff0;
}

a:hover{
    display: none;
}

fieldset {
    background-color: palevioletred;

    border-radius: 100px;
    box-sizing: border-box;
    padding: 2em;
    shape-inside: content-box;
    transition: background-color 2s;
    border-color: chartreuse;
    transition: transform 1s;
}

fieldset:hover {
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

legend {
    font-size: 7em;
    transition: font-size 1s;
    display: table;
    background: linear-gradient(89deg, #fffa00 0%, #ff9400 25%, #00ff0a 50%, #00fdff 75%, #ff006e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

legend:hover {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

button{
    border-radius: 50% / 100% 100% 0 0;
    animation: .3s silly infinite alternate;
    font-size: 5em;
    padding: 1em;
    border: 0;
    margin-top: .5em;
}

button:hover {
    display: none;
}


@keyframes silly { to {
    border-radius: 50%;
    text-shadow: 0 70px black;
}}
